/* Write your CSS code here */
.headercontainer {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.home {
  font-size: 20px;
  color: blueviolet;
  text-decoration: underline;
  margin-right: 30px;
}
.about {
  font-size: 20px;
  color: blueviolet;
  text-decoration: underline;
}
